@model Revifast.Models.Vehiculo

@{
    ViewData["Title"] = "Create";
}
    <body style="background-color:black;">
    </body>
<h1 style="color:white">Registra tu vehiculo</h1>

<h4 style="color:white">Vehiculo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger" style="color:white"></div>
            <div class="form-group">
                <label asp-for="ConductorId" class="control-label">@ViewBag.ConductorNombres</label>
                <input asp-for="ConductorId" value="@ViewBag.ConductorId" class ="form-control-plaintext form-control-sm" hidden/>
            </div>
            <div class="form-group">
                <label asp-for="Placa" class="control-label" style="color:white"></label>
                <input asp-for="Placa" class="form-control" />
                <span asp-validation-for="Placa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Modelo" class="control-label" style="color:white"></label>
                <input asp-for="Modelo" class="form-control" />
                <span asp-validation-for="Modelo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Categoria" class="control-label" style="color:white"></label>
                <input asp-for="Categoria" class="form-control" />
                <span asp-validation-for="Categoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
