@{
    ViewData["Title"] = "Home Page";
}


    <body style="background-color:black;">
        <div class="text-center">
            <h1 class="display-4" style="color:white">
                <strong>
                    REVIFAST
                </strong>
            </h1>
        </div>
        <div class="container">
            <img position="relative" src="~/images/Slide1.jpg" alt="Snow" style="width:100%;">
        </div>
    </body>


@*<img class="w-100 img-fluid" src="~/images/Slide1.jpg" alt="asfasfasfasfasfsa">*@


